# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

masnum.wam.mpi
*.mod
fort.1*
*.hpc2*

/masnum_wave/exp/exp*/*.nc
/masnum_wave/exp/exp*/for*
